# 1/ Importing Libraries

In [206]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import OrdinalEncoder, StandardScaler
from sklearn.impute import SimpleImputer

## mutual_info_regression gives the combination of features which works well
# Select features according to the k highest scores.
from sklearn.feature_selection import SelectKBest, mutual_info_regression

from sklearn.linear_model import LinearRegression

from sklearn.metrics import r2_score

## 2/ Importing Data

In [207]:
train = pd.read_csv("E:\\Session_recordings\\Kaggle Competition\\Benz Greener\\YT_Kaggle_Mastery-master\\Mercedes-Benz Greener Manufacturing\\train.csv")
test = pd.read_csv("E:\\Session_recordings\\Kaggle Competition\\Benz Greener\\YT_Kaggle_Mastery-master\\Mercedes-Benz Greener Manufacturing\\test.csv")

# 3/ Check Data

In [208]:
train.head(10)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
5,18,92.93,t,b,e,c,d,g,h,s,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
7,25,91.91,o,l,as,f,d,f,j,a,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0

In [209]:
train.describe(include = 'all')

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209,4209,4209,4209,4209,4209,4209,4209,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
unique,NaN,NaN,47,27,44,7,4,29,12,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,z,aa,as,c,d,w,g,j,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,360,833,1659,1942,4205,231,1042,277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,4205.960798,100.669318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [210]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

# 4/ Divide the Data into X & Y

In [211]:
y = train['y']
X = train.drop(['y', 'ID'], axis=1)

X_test = test.drop(['ID'], axis=1)

# 5/ Train & Validation Split

In [212]:
# Assume 'X' is your feature matrix and 'y' is your target variable or class labels

X_train, X_val, y_train, y_val = train_test_split(X,y, test_size = 0.2, random_state = 42)

# 6/ Get Categorical & Numerical feature name

In [213]:
Numerical_features = X.select_dtypes(include='number').columns.values
Numerical_features

array(['X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18',
       'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X26', 'X27', 'X28',
       'X29', 'X30', 'X31', 'X32', 'X33', 'X34', 'X35', 'X36', 'X37',
       'X38', 'X39', 'X40', 'X41', 'X42', 'X43', 'X44', 'X45', 'X46',
       'X47', 'X48', 'X49', 'X50', 'X51', 'X52', 'X53', 'X54', 'X55',
       'X56', 'X57', 'X58', 'X59', 'X60', 'X61', 'X62', 'X63', 'X64',
       'X65', 'X66', 'X67', 'X68', 'X69', 'X70', 'X71', 'X73', 'X74',
       'X75', 'X76', 'X77', 'X78', 'X79', 'X80', 'X81', 'X82', 'X83',
       'X84', 'X85', 'X86', 'X87', 'X88', 'X89', 'X90', 'X91', 'X92',
       'X93', 'X94', 'X95', 'X96', 'X97', 'X98', 'X99', 'X100', 'X101',
       'X102', 'X103', 'X104', 'X105', 'X106', 'X107', 'X108', 'X109',
       'X110', 'X111', 'X112', 'X113', 'X114', 'X115', 'X116', 'X117',
       'X118', 'X119', 'X120', 'X122', 'X123', 'X124', 'X125', 'X126',
       'X127', 'X128', 'X129', 'X130', 'X131', 'X132', 'X133', 'X134',
       'X135', 'X136', 'X137', 'X138', 'X139', 'X140', 'X141', 'X142',
       'X143', 'X144', 'X145', 'X146', 'X147', 'X148', 'X150', 'X151',
       'X152', 'X153', 'X154', 'X155', 'X156', 'X157', 'X158', 'X159',
       'X160', 'X161', 'X162', 'X163', 'X164', 'X165', 'X166', 'X167',
       'X168', 'X169', 'X170', 'X171', 'X172', 'X173', 'X174', 'X175',
       'X176', 'X177', 'X178', 'X179', 'X180', 'X181', 'X182', 'X183',
       'X184', 'X185', 'X186', 'X187', 'X189', 'X190', 'X191', 'X192',
       'X194', 'X195', 'X196', 'X197', 'X198', 'X199', 'X200', 'X201',
       'X202', 'X203', 'X204', 'X205', 'X206', 'X207', 'X208', 'X209',
       'X210', 'X211', 'X212', 'X213', 'X214', 'X215', 'X216', 'X217',
       'X218', 'X219', 'X220', 'X221', 'X222', 'X223', 'X224', 'X225',
       'X226', 'X227', 'X228', 'X229', 'X230', 'X231', 'X232', 'X233',
       'X234', 'X235', 'X236', 'X237', 'X238', 'X239', 'X240', 'X241',
       'X242', 'X243', 'X244', 'X245', 'X246', 'X247', 'X248', 'X249',
       'X250', 'X251', 'X252', 'X253', 'X254', 'X255', 'X256', 'X257',
       'X258', 'X259', 'X260', 'X261', 'X262', 'X263', 'X264', 'X265',
       'X266', 'X267', 'X268', 'X269', 'X270', 'X271', 'X272', 'X273',
       'X274', 'X275', 'X276', 'X277', 'X278', 'X279', 'X280', 'X281',
       'X282', 'X283', 'X284', 'X285', 'X286', 'X287', 'X288', 'X289',
       'X290', 'X291', 'X292', 'X293', 'X294', 'X295', 'X296', 'X297',
       'X298', 'X299', 'X300', 'X301', 'X302', 'X304', 'X305', 'X306',
       'X307', 'X308', 'X309', 'X310', 'X311', 'X312', 'X313', 'X314',
       'X315', 'X316', 'X317', 'X318', 'X319', 'X320', 'X321', 'X322',
       'X323', 'X324', 'X325', 'X326', 'X327', 'X328', 'X329', 'X330',
       'X331', 'X332', 'X333', 'X334', 'X335', 'X336', 'X337', 'X338',
       'X339', 'X340', 'X341', 'X342', 'X343', 'X344', 'X345', 'X346',
       'X347', 'X348', 'X349', 'X350', 'X351', 'X352', 'X353', 'X354',
       'X355', 'X356', 'X357', 'X358', 'X359', 'X360', 'X361', 'X362',
       'X363', 'X364', 'X365', 'X366', 'X367', 'X368', 'X369', 'X370',
       'X371', 'X372', 'X373', 'X374', 'X375', 'X376', 'X377', 'X378',
       'X379', 'X380', 'X382', 'X383', 'X384', 'X385'], dtype=object)

In [214]:
categorical_features = X.select_dtypes(exclude = 'number').columns.values
categorical_features

array(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype=object)

# 7/ Preprocessing by Encoding

### 7.1/ Categorical Encoding

In [215]:
oe = OrdinalEncoder(handle_unknown="use_encoded_value", unknown_value= np.NaN)
oe.fit(X_train[categorical_features])

OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=nan)

In [216]:
# transform train set
X_train[categorical_features] = oe.transform(X_train[categorical_features])

# transform valdation set 
X_val[categorical_features] = oe.transform(X_val[categorical_features])

# transform test set
X_test[categorical_features] = oe.transform(X_test[categorical_features])

# 8/ Missing Value treatment

In [217]:
Impute = SimpleImputer (strategy='median')
Impute.fit(X_train)

SimpleImputer(strategy='median')

In [218]:
# transform train set
X_train = Impute.transform(X_train)

# transform valdation set 
X_val = Impute.transform(X_val)

# transform test set
X_test = Impute.transform(X_test)

# 9/ Transformation - Standard Scaler

In [219]:
Scaler = StandardScaler()
Scaler.fit(X_train)

StandardScaler()

In [220]:
# transform train set
X_train = Scaler.transform(X_train)

# transform valdation set 
X_val = Scaler.transform(X_val)

# transform test set
X_test = Scaler.transform(X_test)

# 9.2/ Transformation - Mutual_Info_Reg & SelectKBest

In [221]:
sel = SelectKBest(mutual_info_regression, k = 30)
sel.fit(X_train, y_train)

SelectKBest(k=30,
            score_func=<function mutual_info_regression at 0x0000021433B75AF0>)

In [222]:
# transform train set
X_train = sel.transform(X_train)

# transform valdation set 
X_val = sel.transform(X_val)

# transform test set
X_test = sel.transform(X_test)

# 10/ Model Building Steps (LinearRegression_ML Model)

### 1. Model Building on X_train & Y_train
### 2. Then will Predict on X_train & X_validation
### 3. Calculate R2 scorefor X_train & for X_Validation R2 score
### 4. after finding confident enough on above 2 things then we will predict on X_test
### 5. Submission

In [223]:
lr = LinearRegression()

In [224]:
lr.fit(X_train, y_train)

LinearRegression()

## 11/ Predict Y

In [225]:
y_train_pred = lr.predict(X_train)
y_test_pred = lr.predict(X_test)
y_val_pred = lr.predict(X_val)

# 12/ Check R Squared

In [227]:
print(r2_score(y_train, y_train_pred))
print(r2_score(y_val, y_val_pred))

0.5470343814115939
0.5773073381667152

# 13/ Submission

In [228]:
submission = pd.DataFrame({'ID': test['ID'],
                          'y': y_test_pred})

submission.head()

   ID           y
0   1   78.207708
1   2   94.711885
2   3   75.855169
3   4   78.074896
4   5  111.222582

# Exporting to CSV

In [230]:
# Export the DataFrame to a CSV file
submission.to_csv('E:\Session_recordings\Kaggle Competition\Benz Greener\Benz_Greener_Submission_Final_Try1_Base_Solution_LR.csv', index=False)